html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
}

#container {
    margin: 0 auto;
    height: 98%;
    width: 98%;
    margin-top: 5%;
    text-align: center;
}

form {
	visibility: visible;
}

textarea, button {
	font-size: medium;
	border-radius: 5px;
}

button {
    background-color: snow;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.6);
}

button:focus {
    outline: 0;
}